<form action="{{url_for('insertar')}}" method="post">
    <div class="form-group">
      <input type="text" name="nombre" class="form-control" placeholder="Ingrese el nombre" required><br>
      <input type="text" name="apellido" class="form-control" placeholder="Ingrese los apellidos" required><br>
      <input type="text" name="materia" class="form-control" placeholder="Ingrese la materia" required><br>
      <input type="text" name="presente" class="form-control" placeholder="Presente" required><br>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-info float-right ues-info">Enviar</button>
    </div>
  
  </form>
